.vscode/
.vs

Books/

Competitive Programming/.vscode/
Competitive Programming/CodCad/
Competitive Programming/competitions/
Competitive Programming/cp3/
Competitive Programming/Treinamento ufmg/

interviews/

playground/


**.class
**.out
**in
**.out
**.exe
**.o

*.docx
.pdf
